* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  background-image: url(https://picsum.photos/1600/900);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh - 48px);
}

.navbar-options {
  display: flex;
}

.navbar-options p {
  color: #6d6875;
}

.navbar-options h6 {
  color: #663d45;
  transition: opacity 0.3s;
}

.navbar-options h6:hover {
  opacity: 0.6;
}

.blog-name {
  color: #a8dadc;
  transition: opacity 0.3s;
}

.blog-name:hover {
  opacity: 0.5;
}
.search-input {
  color: #b61624;
}

.container {
  display: flex;
  justify-content: space-evenly;
}
.color {
  color: #06d6a0;
  padding: 0.1rem;
  font-size: 16px;
  margin: auto 10px;
}
